<div class="card">
    <div class="card-body">
        <!-- <pre>{{json postagem}}</pre>  Para debugar a variável 'categorias' -->
        <h3>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>

