
<!--Action que envia para o banco de dados -->
<!-- "method" forma como os dados são enviados ao DB (GET/POST)-->
<form action="/add" method="POST">
    <p>Título</p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo" ></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>