<h1>Lista de Posts: </h1>

<!-- Pega os dados enviados -->
<!-- Quando recebe muitos dados pode fazer isso-->
{{#each posts}}
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <!-- Pega o id do post e envia na URL como parametro -->
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}